---
import { recentProject } from "@/utils/constant";
import { Image } from "astro:assets";
import MagneticElement from "../React/MagneticElement";
---

<div
  class="outer overflow-x-hidden bg-gradient-to-b from-[#0D0D0D] to-slate-950"
  id="projects"
>
  <section
    id="title-section"
    class="w-full flex justify-between items-center container max-w-9xl text-white mb-36 title"
  >
    <div class="overflow-hidden flex items-center lg:gap-2 gap-1">
      <h1
        class="font-bold lg:text-6xl md:text-4xl text-2xl title-recent-project"
      >
        RECENT
      </h1>
      <h1
        class="font-bold lg:text-6xl md:text-4xl text-2xl title-recent-project"
      >
        PROJECT
      </h1>
    </div>
    <div class="overflow-hidden">
      <a
        href="https://github.com/Ibaliqbal"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="My Github"
        class="my-github text-4xl"
      >
        <i class="bx bxl-github title-recent-project"></i></a
      >
    </div>
  </section>

  <div class={`slider-project flex w-[300vw] text-white lg:pb-36`}>
    {
      recentProject.map((project) => (
        <section class="w-full h-dvh">
          <div class="inner relative border-b-2 border-white rounded-b-lg lg:m-[7em] m-[3em]">
            <Image
              src={project.image}
              alt={project.title}
              width={700}
              height={700}
              loading={"eager"}
              class="absolute lg:top-[40%] top-[40%] left-[50%] -translate-x-[50%] -translate-y-[50%] "
            />
            <div class="content px-4 pb-4 flex flex-col gap-4">
              <h1 class="lg:text-4xl md:text-2xl text-xl font-bold">
                {project.title}
              </h1>
              <div class="flex gap-4 items-center lg:text-3xl md:text-xl text-lg">
                <a
                  href={project.github}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="source code"
                >
                  <i class="bx bxl-github" />
                </a>
                <a
                  href={project.web}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="link website"
                >
                  <i class="bx bx-link" style="color:#ffffff" />
                </a>
              </div>
              <div class="flex-wrap gap-4 md:flex hidden">
                {project.techstack.map((tech) => (
                  <MagneticElement client:load>
                    <div>
                      <button class="lg:py-3 lg:px-4 py-1 px-2 border-2 border-white rounded-lg">
                        {tech}
                      </button>
                    </div>
                  </MagneticElement>
                ))}
              </div>
              <div class="flex flex-wrap gap-4 md:hidden">
                {project.techstack.map((tech) => (
                  <p>{tech}</p>
                ))}
              </div>
            </div>
          </div>
        </section>
      ))
    }
  </div>
</div>

<style>
  .inner {
    height: calc(100% - 14em);
    display: flex;
    align-items: end;
  }

  .content {
    justify-self: end;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener("astro:page-load", () => {
    const slider = document.querySelector(".slider-project") as HTMLDivElement;
    const sections = gsap.utils.toArray(".slider-project section");

    let tl = gsap.timeline({
      defaults: {
        ease: "none",
      },
      scrollTrigger: {
        trigger: slider,
        pin: true,
        scrub: 2,
        end: () => "+=" + slider?.offsetWidth,
      },
    });

    tl.to(slider, {
      xPercent: -66,
    });

    sections.forEach((stop: any, index) => {
      tl.from(stop?.querySelector(".content"), {
        yPercent: -50,
        opacity: 0,
        duration: 10,
        scrollTrigger: {
          trigger: stop?.querySelector(".content"),
          start: "left center",
          end: "center center",
          containerAnimation: tl,
          scrub: true,
        },
      }).from(stop.querySelector("img"), {
        xPercent: 40,
        yPercent: -100,
        ease: "elastic.out(1,1)",
        scrollTrigger: {
          trigger: stop.querySelector("img"),
          scrub: 2,
          containerAnimation: tl,
          start: "-145% center",
          end: "-100% center",
        },
      });
    });

    gsap.from(".title-recent-project", {
      yPercent: 130,
      duration: 0.2,
      stagger: 0.25,
      ease: "power4.out",
      scrollTrigger: {
        trigger: ".title-recent-project",
        start: "-25% center",
        end: "bottom 25%",
        scrub: true,
      },
    });
  });
</script>

<!-- <div class="flex flex-wrap items-center gap-4"></div> -->
